<!DOCTYPE html>

{% extends "default.html" %}
{% block content %}
    {% if user.is_authenticated %}
    <p>
        Testing Camera in prog <br>
        Please follow the rules and be good
        <br>
        <a>  <img src="../media/photo.jpg" alt = "failure"></a>
        <video width="320" height="240" controls>
            <source src="../media/movie.mp4" type="video/mp4">
        </video>
    </p>
    {% else %}
    <p>
        You aren't supposed to be here
    </p>
    {% endif %}
{% endblock %}